.inputWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  flex: 1 1 0;
  min-width: 44%;
  padding-top: 16px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #344054;
  text-align: left;
}

.labelDisabled {
  color: #999;
}

.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
  transition: border-color 0.2s;

}

.input:focus {
  background-color: #fff;
  border: 1px solid #73e2a3;
  border-radius: 8px;
  box-shadow:
    0 0 0 4px #d3f8df,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.inputError {
  background-color: #fff;
  border: 1px solid #fda29b;
  border-radius: 6px;
  box-shadow:
    0 0 0 4px #fee4e2,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.inputError:focus {
  background-color: #fff;
  border: 1px solid #fda29b;
  border-radius: 8px;
  box-shadow:
    0 0 0 4px #fee4e2,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover {
  -webkit-text-fill-color: #101828;
  box-shadow: 0 0 0 1000px #fff inset;
}

.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #101828;
  box-shadow:
    0 0 0 1000px #fff inset,
    0 0 0 4px #d3f8df,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.sizeSmall {
  height: 40px;
}

.sizeMedium {
  height: 40px;
}

.fullWidth {
  width: 100%;
}
