.status {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #667085;
}

.backgroundSuccess {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1fadf;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.successIcon {
  position: absolute;
  z-index: 9999999999;
}

.dotsBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-bottom: 8px;
}
.dotBanner {
  width: 32px;
  height: 8px;
  transition: background-color 0.3s;
  border-radius: 4px;
  background: #101828;
  opacity: 0.24;
}

.dotsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.dotHeader {
  width: 8px;
  height: 8px;
  transition: background-color 0.3s;
  border-radius: 4px;
  background: #101828;
  opacity: 0.24;
}

.dotBannerFill {
  width: 32px;
  height: 8px;
  transition: background-color 0.3s;
  border-radius: 4px;
  background: #000000;
}
.dotHeaderFill {
  width: 8px;
  height: 8px;
  transition: background-color 0.3s;
  border-radius: 4px;
  background: #000000;
}
@media (max-width: 768px) {
  .status {
    font-weight: 400;
    font-size: 14px;
    line-height: 156%;
    text-align: center;
    color: #667085;
  }

}
@media (max-width: 520px) {
  .textStatus{
    display: none;
  }
}