:root {
  --light-100: #ffffff;
  --light-300: #f2f4f7;
  --light-500: #eaecf0;

  --gray-100: #d0d5dd;
  --gray-300: #98a2b3;
  --gray-500: #667085;
  --gray-700: #475467;
  --gray-900: #344054;

  --green-100: #edfcf2;
  --green-200: #d3f8df;
  --green-300: #099250;
  --green-500: #087443;

  --warning-100: #fda29b;
  --warning-200: #fee4e2;
  --warning-300: #f04438;

  --mint-100: #edfcf2;
  --mint-300: #d1fadf;
  --mint-500: #73e2a3;

  --dark-700: #101828;
  --dark-500: #1f2937;
}
